<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/ca5c495e-3243-4d85-ab21-58f66d69fe3a/resourceGroups/HackTXNew2018/providers/Microsoft.Web/sites/HackTXNew2018</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://hacktxnew2018.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>hacktxnew2018.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HackTXNew2018</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$HackTXNew2018</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>